[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pudb = "*"

[packages]
arrow = "*"
boto3 = "*"
botocore = "*"
clint = "*"
cloudfront-log-parser = "*"
click = "*"
user-agents = "*"
s3transfer = "*"

[requires]
python_version = "3.8"
